.radio {
    display: inline-block;
    font-size: 2rem;
}
.char-sheet-container {
    font-family: 'Titillium Web', sans-serif;
}
.char-sheet-header {
    height: 4rem;
}
.char-sheet-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.stats-container {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}
.cs-box {
    font-size: 1.55rem;
    background-color: #1a1a1a70;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cs-label {
    position: absolute;
    top: 105%;
    font-size: 1rem;
    width: 8rem;
    text-align: center;
}

/*  BASE STATS  */
.core-stats-container {
    grid-column: 1 / 2;
    display: grid;
    row-gap: 1rem;
    background-color: #1a1a1a70;
    border-radius: 1rem;
    padding-top: 1rem;
    margin: 1rem;
}
.base-stat-row {
    position: relative;
    text-align: center;
}
.base-mod {
    width: 5rem;
    height: 5rem;
    border: 2px solid gray;
    border-radius: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
}
.base-stat {
    position: absolute;
    border: 2px solid whitesmoke;
    border-radius: 15%;
    background-color: #1a1a1a;
    width: 2rem;
    left: 50%;
    transform: translate(-50%, -0.5rem)
}
/*  SKILLS  */

.skills-etc-container {
    grid-column: 2 / 3;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 1fr 2fr 6fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bonus-box {
    border: 2px solid whitesmoke;
    border-radius: 50%;
    background-color: #1a1a1a70;
    font-size: 1.3rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proficiency-bonus-container {
    border: 2px solid gray;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    display: grid;
    row-gap: 0.75rem;
}
.proficiency-bonus, .passive-perception {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.saving-throw-row, .skill-row {
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: 1.5rem 2rem auto;
    grid-template-rows: 1.75rem;
    margin: 0 0.5rem;
}
.saving-throws-container, .skills-container {
    display: grid;
    margin: 0 0.5rem;
    border: 2px solid gray;
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;
}
.saving-throws-container i, .skills-container i, .underline, .save-title, .skill-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-header {
    text-decoration: underline;
    margin-left: 1rem;
}
.underline {
    background-color: #1a1a1a70;
    border-radius: 20%;
}
.save-title, .skill-title {
    justify-content: left;
    padding-left: 0.5rem;
}

.combat-stats-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/*  ATTACKS  */
.attack-stats-container, .defense-stats-container { 
    border: 2px solid whitesmoke;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 1rem;
}
.attack-stats-container i {
    font-size: 0.75rem;
    margin: 0.25rem;
    margin-left: 1.5rem;
}
.attack-row {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr, 1fr;
    padding: 0.25rem;
}
.attack-bonus, .attack-name, .attack-damage {
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 0.25rem;
}
.attack-name {
    padding-left: 0.5rem;
    width: 8rem;
}
.attack-bonus {
    text-align: center;
    width: 2.5rem;
}
.attack-damage {
    padding-left: 0.5rem;
}
.attack-properties {
    grid-column: 1 / 4;
    grid-row: 4 / 5;

}
/*  DEFENSE  */
.defense-stats-container {
    margin: 1rem 0.5rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    
}
.cs-speed, .cs-initiative {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.cs-armor-class {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    grid-template-columns: 1fr 1fr;
}
.cs-armor {
    border: 1px solid gray;
    background-color: #1a1a1a70;
    border-radius: 0.5rem;
    grid-row: 1/3;
    grid-column: 1/2;
    padding: 0.5rem;
}
.cs-armor i {
    margin-right: 0.25rem;
    font-size: 0.85rem;
}
.cs-ac {
    border-radius: 0.5rem;
    grid-column: 2 / 3;
    grid-row: 1/3;
    padding: 0 0.5rem;
    position: relative;
}
.ac-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    background-color: #1a1a1a70;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

}
.ac-label {
    position: absolute;
    font-size: 1rem;
    top: 110%;
    width: 8rem;
    text-align: center;
}
.cs-hit-points {
    border-radius: 0.5rem;
    grid-row: 3/4;
    grid-column: 1/3;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.personality-features-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-row: 1/4;
}
.personality-container {
    display: grid;
    padding: 0.25rem;
    padding-bottom: 1rem;
    margin: 1rem 1.5rem 1rem 1rem;
}
.personality-row {
    position: relative;
}
.cs-personality {
    background-color: #1a1a1a;
    border: 3px dotted whitesmoke;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 80%;
    text-indent: 1.5rem;
}
.cs-personality:active {
    box-shadow: 0 0 4px whitesmoke;
}
.personality-row:first-of-type textarea {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.personality-row:last-of-type textarea {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.pt-label {
    position: absolute;
    bottom: 2.5%;
    border: 2px solid whitesmoke;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1a1a1a;
}
.features-container {
    border: 2px solid whitesmoke;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
}
.feature-name {
    font-size: 105%;
    background-color: #1a1a1a;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.feature-item i {
    font-size: 80%;
    margin-right: 0.25rem;
}
.feature-details {
    list-style: none;
    margin-top: -0.25rem;
    margin-bottom: 0.75rem;
}
.proficiencies-container {
    border: 2px solid whitesmoke;
    border-radius: 1rem;
    margin: 0 0.5rem 0.5rem 1rem;
    padding: 0.5rem;
}
.equipment-container {
    border: 2px solid whitesmoke;
    border-radius: 1rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
}