
#skills-etc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
td#skills-section {
    width: fit-content;
    grid-row: 1 / 3;
}
#subtable2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}