#subClass-selections select {
    height: 2rem;
    width: 8rem;
}
#subClass-selections button {
    height: 2rem;
    width: 4rem;
}
#subClass-selections option {
    font-size: 1rem;
    margin: 1rem;
}