
/*
GUIDE USER THROUGH THE PROCESS WITH BOX-SHADOW AND TEXT-SHADOW NEON EFFECTS

 purple: "#BFABFF",
    yellow: "#ebffab",
    orange: "#ffbfab",
    green: "#abffbf",
*/

#header-container {
  overflow: cover;
}

.input-card {
  text-align: center;
  width: 80vw;
  max-width: 400px;
  padding: 1em;
  padding-bottom: 2em;
  margin: 1em auto;
  border: 3px solid #abffbf;
  border-radius: 10em / 2em ;
  box-shadow: 0 0 6px #abffbf, inset 0 0 10px #BFABFF;
}

.reset-button {
  margin: 0.5em;
  transition: 200ms;
  background-color: #1a1a1a;
  color: whitesmoke;
  font-size: 1.5em;
  border: 3px solid whitesmoke;
  padding: 0.25em;
  border-radius: 0.35em;
}
.reset-button:hover {
  transform: scale(0.9);
  border: 2px solid #ffbfab;
  box-shadow: 0 0 6px #ffbfab;
}
.submit-button {
  margin: 0.5em;
  transition: 150ms;
  background-color: #1a1a1a;
  color: whitesmoke;
  font-size: 1.5em;
  border: 3px solid whitesmoke;
  padding: 0.25em;
  border-radius: 0.35em;
}

.submit-button:disabled:hover {
  transform: scaleY(0.95);
  border: 2px solid #ffbfab;
  box-shadow: 0 0 6px #ffbfab;
  background-color: #1a1a1a;
}

#canvas1 {
  border: 1px solid whitesmoke;
  box-shadow: 0 0 10px #00ffff;
  border-radius: 2rem / 06rem;
  max-width: 95vw;
  max-height: 17vh;
  background-color: #00ffff81;
}
.main {
  margin: 20px auto;
  padding: 1rem;
  padding-bottom: 15em;
  border: 2px solid gray;
  border-radius: 1rem;
  box-shadow: 0 0 6px #BFABFF, inset 0 0 6px #BFABFF;
  min-height: 70vh;
  height: fit-content;
  width: 90vw;
}

/*  PROGRESS BAR   */

#progress-bar {
  margin-top: 20vh;
  height: fit-content;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.progress-block {
  border: 1px solid aqua;
  border-radius: 4px;
  box-shadow: 0 0 5px aqua, inset 0 0 3px #abffbf;
  margin: 2px;
  background-color: #303030;
  transition: 1000ms;
}
.progress-block:hover {
  transition: 200ms;
  background-color: rgba(0, 255, 255, 0.5);
}
.progress-block h4, p {
  margin: 0;
  z-index: 0;
}
.progress-block h3 {
  pointer-events: none;
  margin: 5px;
  z-index: 0;
}

.progress-tooltip {
  border: 1px solid orangered;
  background-color: gray;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: 150ms;
}

/*  CLASS   */

.classSelector {
  width: min( max(12vw, 12vh), 120px );
  height: min( max(14vw, 14vh), 140px );
  padding-top: .7em;
  margin: 4px;
  box-shadow: 0 0 5px #BFABFF;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  background-color: whitesmoke;
  color: #1a1a1a;
}
img {
  z-index: 0;
  width: max(6vw, 6vh);
  max-width: 60px;
}
.classSelector h2 {
  font-size: min( max(1.7vw, 1.7vh), 22px );

}


#classSelectors {
  text-align: center;
}
.classSelector:hover {
  box-shadow: inset 0 0 10px #ebffab;
  box-shadow: 0 0 10px #ebffab;
  border: 2px solid whitesmoke;
  background-color: #fffef5;
}
.classSelector:active {
  box-shadow: 0 0 10px #abffbf;
}

button img, button h2 {
  z-index: 0;
}

#class-button-container {
  width: fit-content;
  max-width: 550px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#level-section {
  visibility: hidden;
  opacity: 0;
}
#levelInput {
  text-align: center;
  font-size: 2em;
  padding: 0.25em;
  max-width: 1.5em;
  border-radius: 0.25em;
  background-color: rgb(70, 70, 70);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  box-shadow: 1px 2px 2px black;
}

#level-input {
  width: fit-content;
  height: fit-content;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  row-gap: 0px;
  column-gap: 0px;
  background-color: gray;
  border-radius: 0.5em;
}
#level-input button {
  background-color: #1a1a1a;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  width: 50px;
  height: 50px;
}
#level-input-display {
  background-color: #1a1a1a;
  grid-row: 1/3;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120%;
  border: 2px solid whitesmoke;
  border-radius: 0.5em 0 0 0.5em;
  border-right-color: transparent;
}

#level-increment:hover {
  box-shadow: 0 0 6px #ebffab;
  text-shadow: 0 0 4px #ebffab;
}
#level-decrement:hover {
  box-shadow: 0 0 6px #ebffab;
  text-shadow: 0 0 4px #ebffab;
}
#level-increment button {
  grid-row: 1/2;
  grid-column: 3/4;
  border-radius: 0 0.2em 0 0;
}
#level-increment i {
  font-size: 2em;
}
#level-decrement i {
  font-size: 2em;
}
#level-decrement button {
  background-color: #1a1a1a;
  color: whitesmoke;
  grid-row: 2/3;
  grid-column: 3/4;
  border: 2px solid whitesmoke;
  border-radius: 0 0 0.2em 0;
}
#continue-button-classlevel {
  transition: 200ms;
  background-color: #1a1a1a;
  color: whitesmoke;
  font-size: 1.5em;
  border: 3px solid whitesmoke;
  padding: 0.25em;
  border-radius: 0.35em;
}
#continue-button-classlevel:hover, .submit-button:hover {
  background-color: #abffbf30;
  transition: 200ms;
  transform: scale(1.1);
  box-shadow: 0 0 7px #abffbf;
}
#display-class-level {
  text-shadow: 0 0 6px #BFABFF;
  width: fit-content;
  position: relative;
  top: 0;
  left: 3rem;
}
/*  RACE  */

#race-container {
  text-align: center;
  padding: 1em;
  margin: 3rem auto;
  border: 3px solid #abffbf;
  border-radius: 10em / 2em ;
  box-shadow: 0 0 6px #abffbf, inset 0 0 10px #BFABFF;
  transition: 1000ms;
}
.race-button {
  transition: 700ms;
  transition-delay: 300ms;
  font-size: 1.25em;
  width: 6em;
  padding: 0.25em;
  margin-top: 0.5em;
  border-radius: 0.25em;
  background-color: #1a1a1a;
  color: whitesmoke;
  border: 2px solid #BFABFF;
  box-shadow: 0 0 6px #BFABFF;
}
.race-button:hover {
  transition: 50ms;
  box-shadow: none;
  border: 2px solid #ebffab;
  box-shadow: 0 0 7px #ebffab;
  transform: scale(1.1);
}
.subRace {
  margin: 0.25em 0.5em 0.5em
}

/*  ABILITY SCORES  */

.prompt-AS-increase button {
  transition: 100ms;
  font-size: min(3vw, 3vh);
  padding: 4px 12px;
  border-radius: 7px;
  border: 2px solid whitesmoke;
  box-shadow: 0 0 6px #abffbf, inset  0 0 6px #abffbf;
  background-color: #1a1a1a;
  color: whitesmoke;
  text-shadow: 0 0 3px #abffbf;

}

.prompt-AS-increase button:hover {
  transition: 150ms;
  transform: scale(1.05);
  background-color: #abffbf7e;
}

.ability-score-increase {
}
.ability-score-increase button {
  width: 7em;
  height: 2em;
  margin: 2px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  box-shadow: 0 0 6px #BFABFF, inset 0 0 6px #BFABFF;
}

.ability-score-increase button:hover {
  box-shadow: 0 0 6px #ebffab, inset 0 0 6px #ebffab;
}


#ability-score-container{
  height: fit-content;
}

.rollCard {
  width: min(12vw, 6em);
  height: min(12vw, 6em);
  margin: max(2px, 1vw);
  display: inline-flex;
  border: 1px solid whitesmoke;
  border-radius: 1vw;
  box-shadow: 0 0 6px #BFABFF, inset 0 0 6px #BFABFF;
}

.rollCard h2 {
  margin: auto;
}

.rollCard:hover {
  box-shadow: 0 0 6px #ebffab, inset 0 0 6px #ebffab;
}

#prompt-stat {
  width: 100%;
  text-align: center;
}

#displayBaseStats {
  width: fit-content;
  margin: auto;
  text-align: center;
}
#base-stats-submitted {
}
#displayBaseStats-alt {
  transform: scale(0.55) translate( 0, -50% );
  pointer-events: none;
  font-size: 25px;
}

#display {
}

#displayBaseStats text {
  font-size: 1.25em;
}
#submit-as-button {
  border: 2px solid #abffbf;
  box-shadow: 0 0 3px #abffbf;
}
#rollCardContainer {
  width: fit-content;
  margin: auto;
}

/*  EQUIPMENT  */

#equipment-container {

}

/*  FEATURES & SUBCLASS  */

/*  END DISPLAY  */

#final-results {
  background-color: #1a1a1a;
  color: whitesmoke;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: auto;
}
#skills-etc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
td#skills-section {
  width: fit-content;
  grid-row: 1 / 3;
}
#subtable2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

td.box1 {
  border: 3.5px solid whitesmoke;
  border-radius: 1rem;
  font-size: 150%;
  padding: 1rem;
  width: 4rem;
  margin: auto;
}

.data-box {
  border: 3.5px solid whitesmoke;
  border-radius: 1rem;
  font-size: 150%;
  width: 4rem;
  height: 4rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills-table, #saving-table, #feature-table {
  text-align: left;
  padding: 1rem;
}

.check-box {
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid gray;
  margin: auto;
}

.checked {
  background-color: orangered;
}

.underline {
  width: 1.5rem;
  border-bottom: 2px solid whitesmoke;
}

.skill {
  padding-left: 1rem;
}

#saving-table, #res-table, #eq-table {
  padding: 0.5rem;
}
.subtable {
  width: fit-content;
  height: 100%;
  display: flex;
}
#subtable2 {
  width: fit-content;
  height: 100%;
  display: flex;
}
#subtable3 {
  display: flex;
  margin: 0;
  width: fit-content;
  padding: 0;
}
#ACetc-table {
  margin: 0 auto;
}
#ACetc-table td {
  width: fit-content;
  text-align: center;
}
.data-box2 {
  border: 3.5px solid whitesmoke;
  border-radius: 1rem;
  font-size: 150%;
  width: 4rem;
  height: 4rem;
  margin: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}