

.main {
  
  padding-top: 10rem;
  padding-bottom: 15em;
  min-height: 70vh;
  height: fit-content;
  width: 100%;
  background-color: bisque;
  z-index: 2;
}

#final-results {
  background-color: #1a1a1a;
  color: whitesmoke;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: auto;
}
#skills-etc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
td#skills-section {
  width: fit-content;
  grid-row: 1 / 3;
}
#subtable2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

td.box1 {
  border: 3.5px solid whitesmoke;
  border-radius: 1rem;
  font-size: 150%;
  padding: 1rem;
  width: 4rem;
  margin: auto;
}

.data-box {
  border: 3.5px solid whitesmoke;
  border-radius: 1rem;
  font-size: 150%;
  width: 4rem;
  height: 4rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills-table, #saving-table, #feature-table {
  text-align: left;
  padding: 1rem;
}

.check-box {
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid gray;
  margin: auto;
}

.checked {
  background-color: orangered;
}

.underline {
  width: 1.5rem;
  border-bottom: 2px solid whitesmoke;
}

.skill {
  padding-left: 1rem;
}

#saving-table, #res-table, #eq-table {
  padding: 0.5rem;
}
.subtable {
  width: fit-content;
  height: 100%;
  display: flex;
}
#subtable2 {
  width: fit-content;
  height: 100%;
  display: flex;
}
#subtable3 {
  display: flex;
  margin: 0;
  width: fit-content;
  padding: 0;
}
#ACetc-table {
  margin: 0 auto;
}
#ACetc-table td {
  width: fit-content;
  text-align: center;
}
.data-box2 {
  border: 3.5px solid whitesmoke;
  border-radius: 1rem;
  font-size: 150%;
  width: 4rem;
  height: 4rem;
  margin: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}